@import url("https://fonts.googleapis.com/css2?family=Lobster&effect=swap");

.header {
  padding: 1rem 0 3rem;
}

.picture {
  margin-left: auto;
  margin-bottom: 1rem;
}

.title {
  color: rebeccapurple;
  font-size: 2rem;
  text-decoration: none;
  font-family: Lobster;
  text-shadow: 4px 4px 4px #aaa;
  margin: 2rem 10rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-left: 10rem;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}
.w3-lobster {
  font-family: "Lobster", Sans-serif;
}
