.container {
  justify-content: center;
  align-self: center;
  margin: auto;
  max-width: 600px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
  text-decoration: none;
}
.site-title {
  font-size: 2rem;
  color: rgb(11, 9, 133);
  font-weight: 700;
  margin: 3rem 0;
}
